{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
LOGIN PAGE
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}

<div class="container">
    <div class="login">
        <div class="login__content">
            <img class="login__img"
                src="{% static 'dashboard/IMAGES/bg-login.png' %}"
                alt="Login image" />

            <form class="login__form" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {% if messages %}
                        <div class="alert-container">
                            {% for message  in messages %}
                            <div class="alert
                            {% if message.level == DEFAULT_MESSAGES_LEVELS_ERROR %}alert-danger 
                            {% elif message.level == DEFAULT_MESSAGES_LEVELS_WARNING %}alert-warning 
                            {% elif message.level == DEFAULT_MESSAGES_LEVELS_INFO %}alert-info
                            {% elif message.level == DEFAULT_MESSAGES_LEVELS_SUCCESS %}alert-success
                            {% else %}alert-secondary {% endif %} ">
                            {{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <h1 class="login__title"><span>Welcome</span> Back</h1>
                    <p class="login__description">Welcome! Please login to continue.</p>
                </div>

                <div>
                    <div class="login__inputs">
                        <div>
                            <label for="email" class="login__label">Email</label>
                            <input class="login__input" type="email" id="email" name="email"
                                placeholder="Enter your email address" required />
                        </div>

                        <div>
                            <label for="password" class="login__label">Password</label>
                            <div class="login__box">
                                <input class="login__input" type="password" id="password" name="password"
                                    placeholder="Enter your password" required />
                                <i class="ri-eye-off-line login__eye" id="input-icon"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <div class="login__buttons">
                        <button class="login__button" type="submit">Log In</button>
                    </div>
                    
                    <p class="login__signup-text">
                        Don't have an account?
                        <a class="login__signup-link" href="{% url 'register'  %}">Sign Up</a>
                    </p>
                    
                    <a class="login__forgot" href="{% url 'forgot'  %}">Forgot Password?</a>
                    <a class="login__forgot" href="{% url 'register_otp'  %}">Forgot Password?</a>
                    
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>
{% endblock %}


