{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
LOGIN PAGE
{% endblock %}

{% block style %}
<style>
    .login__img {

    height: 95vh;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="login">
        <div class="login__content">
            <img class="login__img" src="{% static 'dashboard/IMAGES/bg-login.png' %}" alt="OTP Verification Image" />

            <form class="login__form" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                    <div class="alert 
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert-warning
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}alert-info
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success
                        {% else %}alert-secondary{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <h1 class="login__title"><span>OTP</span> Verification</h1>
                <p class="login__description">Enter the OTP sent to your email & set your new password</p>

                <input type="hidden" name="email" value="{{ email }}">
                <div class="login__inputs">
                    <div>
                        <label for="otp" class="login__label">OTP</label>
                        <input class="login__input" type="text" id="otp" name="otp" placeholder="Enter OTP" required />
                    </div>

                    <div>
                        <label for="password" class="login__label">New Password</label>
                        <input class="login__input" type="password" id="password" name="password" placeholder="New password" required />
                    </div>

                    <div>
                        <label for="confirm_password" class="login__label">Confirm Password</label>
                        <input class="login__input" type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password" required />
                    </div>
                </div>

                <div class="login__buttons">
                    <button class="login__button" type="submit">Submit</button>
                    <a class="login__forgot" href="{% url 'login'  %}">BACK?</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}